$blueblack:     #102458
$midblue:       #4040ff

$lightest-gray: #f7f7f7
$lighter-gray:  #f4f4f4
$light-gray:    #f1f1f1

$mid-bluegray:  #a0a0b0

$mid-gray:      #808080

$peach:         darken(#f0e68c, 5%)
