h1#homepage
  padding-top: 50px

table#dashboard
  padding-top: 10px
  th
    text-align: right
    font-weight: normal
  tr.flash
    td 
      border: red 1px solid
      text-align: center
      color: red
      background-color: #ffe0e0
  tr.separator 
    td
      padding-top: 12px

div.sourcecode
  position: absolute
  bottom: 8px
  right: 20px
