@import "colors"

td.track
  padding: 10px 25px 10px 0px
  p
    white-space: nowrap
    margin: 0
    padding: 0
    height: 18px
    text-align: center
  p.track, p.track_no_underline
    padding: 0 0 2px 0
    margin: 0 0 6px 0
    font-weight: bold
    color: $sprawl-orange-dark
  p.track
    border-bottom: 3px solid $sprawl-orange-light
  p.label, p.goal, p.scheduled, p.unestimated
    padding: 0 0 10px 0

td.track:first-child
  p
    text-align: left
  p.goal, p.done, p.wip, p.scheduled, p.blocked, p.unestimated, p.unplanned, p.unmet_reqs
    padding-left: 15px

span.stories, span.points
  display: inline-block
  width: 45px
  text-align: right

div.storylist
  margin: 10px 0 0 0
  p
    padding: 2px 5px 2px 5px
    margin: 0 0 2px 0
  p.title
    margin-top: 25px
    border: 3px solid $sprawl-orange-light

    background: $sprawl-orange-lighter

    span.toplink
      float: right  


table.story
  border: 1px solid $sprawl-orange-light
  width: 100%

  td
    vertical-align: top
  
  td.storytype
    width: 20px
  td.estimate
    width: 20px
  td.name
    font.labels
      font-size: 90%
      color: green
  td.state
    width: 80px
    text-align: right
    color: $mid-gray
 
