@import "colors"

@mixin horiz-flexbox
  display: -webkit-box
  display: -moz-box
  display: box
  -webkit-box-orient: horizontal
  -moz-box-orient: horizontal
  box-orient: horizontal

#topnav
  background: $sprawl-orange-lighter
  border-bottom: 3px solid $sprawl-orange-light

  padding-top: 15px 
  padding-bottom: 5px 

  width: 100%

  @include horiz-flexbox

  a:link, a:active, a:visited, a:hover
    color: $sprawl-orange-darker
    text-decoration: none
  a:hover
    color: $sprawl-orange-dark

  p
    margin: 0
    height: 20px
    overflow: hide
    span
      height: 20px

  #global
    padding-left: 5px
    span#logo
      font-weight: bold
      a
        line-height: 15px
        font-size: 22px /* seems to affect the height of this span or p */
        color: $october-red

  #page-actions
    -webkit-box-flex: 1
    -moz-box-flex: 1
    box-flex: 1

    text-align: right

    span
      padding-left: 15px
      padding-right: 15px
      margin-left: 4px

    span#projects
      padding-bottom: 10px
    span#current
      margin-left: 25px
    span.tab-active
      padding-bottom: 7px
      padding-top: 8px
      border: 3px solid $sprawl-orange-light
      background: white
      border-bottom: 3px solid white
    span.tab-inactive
      padding-bottom: 7px
      padding-top: 2px
      border: 3px solid $sprawl-orange-light
      background: $sprawl-orange-lightest

  #site-actions
    -webkit-box-flex: 8
    -moz-box-flex: 8
    box-flex: 8

    text-align: right
    padding-right: 5px
    span
      padding-left: 15px

    
ul.dropdown
  display: none
  position: absolute
  list-style: none
  width: 180px
  margin-left: -1px
  padding: 0
  z-index: 500
  border: 3px solid $sprawl-orange-light
  background: $sprawl-orange-lightest
  -moz-box-shadow: 0 0 3px #aaa
  -webkit-box-shadow: 0 0 3px #aaa
  box-shadow: 0 0 3px #aaa
  li
    padding: 5px

div.clearboth
  clear: both
  height: 0px
