= render :partial => "shared/top_nav"
%div#content
  
  %ul
    %li= link_to 'Users', admin_users_path
    %li= link_to 'Projects', admin_projects_path
    %li= link_to 'Clear the Cache', admin_cache_clear_path
