= render :partial => "shared/top_nav"
%div#content
  %h3.breadcrumbs
    &laquo;
    = link_to 'Back to Homepage', projects_path
  
  %h2 Users
  %table
    %tr
      %th Username
      %th First Login
      %th Last Login
    - @users.sort{|x,y| y.updated_at <=> x.updated_at }.each do |user|
      %tr
        %td=user.username
        %td=user.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%a %D (%I:%M%p)")
        %td=user.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%a %D (%I:%M%p)")
  
