= render :partial => "shared/top_nav"
%div#content
  
  %h2 Projects
  %table
    %tr
      %th ID
      %th Last Update
      %th Created At
      %th # Tracks
      %th # Snapshots
    - @projects.sort{|x,y| y.updated_at <=> x.updated_at }.each do |project|
      %tr
        %td=project.tracker_id
        %td=project.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%a %D (%I:%M%p)")
        %td=project.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%a %D (%I:%M%p)")
        %td=project.tracks.select{|t| !t.enabled.nil? and t.enabled }.map{|t| t.label}.count
        %td=StoriesSnapshot.find_all_by_tracker_project_id(project.tracker_id).count
  
