= render :partial => "shared/top_nav", :locals => {  }

%div#promo(style='padding:25px;float:left')
  %b(style='font-size:110%') Manage (enterprise!) large projects in Pivotal Tracker
  %ul
    %li See progress across parallel tracks of development
    %li Snapshot your backlog and watch how stories progress
  %p
    =image_tag 'tracker_screenshot.png', {:height=>"243px", :width=>"600px"}

%div#login-form(style='padding:20px;float:left')
  =form_for :session, :url => '/signin' do |f|
    %table#dashboard
      %tbody
        %tr
          %td(colspan='2' style='font-weight:bold')
            Please log in with your 
            = link_to 'Pivotal Tracker', 'http://pivotaltracker.com/'
            account:
        - if flash[:notice]
          %tr.flash
            %td(colspan='2')
              Invalid username or password
        %tr.separator
          %td
          %td
        %tr
          %th
            Username/Email
          %td
            =f.text_field :username
        %tr
          %th
            Password
          %td
            =f.password_field :password
        %tr.separator
          %td
          %td
            =f.submit 'Sign in'
  
%div.sourcecode(style='font-size:70%;')= link_to 'Source code', 'http://github.com/jimlindstrom/Tracker-Dashboard'
