%center
  %br
  %br
  %br
  %br
  %h1 Tracker Project Dashboard
  %br
  %br
  %br
  %form(action='/project/show')
    %table(style='width:400px;')
      %tr
        %td(style='text-align:right;')
          Project&nbsp;name
        %td
          %input{:type=>"text", :name=>"project_name", :value=>"Casebook Deux"}
      %tr
        %td(style='text-align:right;')
          API&nbsp;Token
        %td
          %input{:type=>"text", :name=>"tracker_api_key"}
      %tr
        %td(style='text-align:right;')
        %td
          = surround 'You can find your Tracker API token at the bottom of your ', '.' do
            = link_to 'Profile Page', 'https://www.pivotaltracker.com/profile'
          You can request one if you don't have one.
      %tr
        %td
        %td
          %input{:type=>"submit", :name=>"Submit"}
