%center
  %h1#homepage Tracker Project Dashboard
  
  %form(action='/project/show')
    %table#dashboard
      %tr
        %th
          Project&nbsp;name
        %td
          %input{:type=>"text", :name=>"project_name", :value=>"Casebook Deux"}
      %tr
        %th
          API&nbsp;Token
        %td
          %input{:type=>"text", :name=>"tracker_api_key"}
          %img.help(src='/assets/tooltip_icon.gif' title='In Pivotal Tracker, click on \'Profile\' and scroll to the bottom.  You will need to create a new token if you do not have one.')
      %tr.separator
        %td
        %td
          %input{:type=>"submit", :value=>"View Dashboard"}
  
  
%div.sourcecode(style='font-size:70%;')= link_to 'Source code', 'http://github.com/jimlindstrom/Tracker-Dashboard'
