%center
  %h1#homepage Tracker Project Dashboard
  
  %form(action='/projects/index' method='post')
    %table#dashboard
      - if flash[:notice]
        %tr.flash
          %td(colspan='2')
            Invalid username or password
      %tr
        %th
          Username/Email
        %td
          %input{:type=>"text", :name=>"username"}
      %tr
        %th
          Password
        %td
          %input{:type=>"password", :name=>"password"}
      %tr.separator
        %td
        %td
          %input{:type=>"submit", :value=>"Login"}
  
  
%div.sourcecode(style='font-size:70%;')= link_to 'Source code', 'http://github.com/jimlindstrom/Tracker-Dashboard'
