%span.estimate
  - case story.estimate
  - when -1
    %img(src='https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_unestimated_fibonacci.gif')
  - when 0
    %img(src='https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_0pt_fibonacci.gif')
  - when 1
    %img(src='https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_1pt_fibonacci.gif')
  - when 2
    %img(src='https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_2pt_fibonacci.gif')
  - when 3
    %img(src='https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_3pt_fibonacci.gif')
  - when 5
    %img(src='https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_5pt_fibonacci.gif')
  - when 8
    %img(src='https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_8pt_fibonacci.gif')

