%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav", :locals => { :project => @project, :projects => @projects, :active_tab => "current" }

%div#content

  = render :partial => "tracks",  :locals => { :tracks => @tracks, :project_settings => @project_settings } # the only reason this partial needs 'project settings' is to derive a 'goal date'.  Too tightly coupled to pass the whole thing...
  
  = render :partial => "stories", :locals => { :tracks => @tracks }

%div#preload(style='display:none;')
  = image_tag("black_arrow.png")
