%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav", :locals => { :project => @project, :projects => @projects, :active_tab => "current" }

%div#content

  = render :partial => "tracks",  :locals => { :tracks => @tracks, :goal_date => @goal_date }
  
  = render :partial => "stories", :locals => { :tracks => @tracks }

%div#preload(style='display:none;')
  = image_tag("black_arrow.png")
