%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav", :locals => { :project => @project, :active_tab => "snapshots" }

%div#content
  
  %h3 Snapshots

  %ul
    %li= link_to "Create new snapshot", new_project_snapshot_path(@project.id)
    - @snapshots.each do |snapshot|
      %li= link_to snapshot.timestamp, project_snapshot_path(@project.id, snapshot.id)

