%div#top(style='height:0;width:0;')
= render :partial => "shared/top_nav", :locals => { :project => @project, :active_tab => "snapshots" }

%div#content
  %h3 Current+Backlog: Snapshot vs. Now

  %table
    %tr
      %td#snapshot-stories(style='width: 50%; vertical-align: top;')
        %p(style='font-weight: bold; width: 100%; text-align: center;') Snapshot

        - @snapshot.stories.each do |cur_story|
          = render :partial => "shared/story_with_highlighting", :locals => { :story => cur_story }
      %td#current-stories(style='width: 50%; vertical-align: top;')
        %p(style='font-weight: bold; width: 100%; text-align: center;') Now

        - @cur_stories.each do |cur_story|
          = render :partial => "shared/story_with_highlighting", :locals => { :story => cur_story }

%div.fixed#snapshot-up
  %p &uarr; Story is above 
%div.fixed#snapshot-notfound
  %p Story added since snapshot
%div.fixed#snapshot-down
  %p &darr; Story is below

%div.fixed#current-up
  %p &uarr; Story is above 
%div.fixed#current-notfound
  %p Story moved/deleted
%div.fixed#current-down
  %p &darr; Story is below
